@model PagedList.IPagedList<PrivateSchool.Models.Student>
@using PagedList.Mvc


@{
    ViewBag.Title = "Index";
}

<h2>Student</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-create" })
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    @Html.TextBox("searchStudent", null, new { @class = "form-control", placeholder = "Search Firstname", type = "search", autocomplete = "off" })


    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSortOrder" />

    <input id="submitButton" type="submit" value="Search" class="btn btn-info btn-sm" />
    <input id="resetButtonS" type="button" value="Reset" class="btn btn-default btn-sm" />

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Firstname", "Index", "Student", new { sortOrder = ViewBag.FNSP, searchStudent = ViewBag.CurrentName }, new { @class = "sorting-btn" })
        </th>
        <th>
            @Html.ActionLink("Lastname", "Index", "Student", new { sortOrder = ViewBag.LSP, searchStudent = ViewBag.CurrentName }, new { @class = "sorting-btn" })
        </th>
        <th>
            Date Of Birth
        </th>
        <th>
            Tuition Fees
        </th>
        <th>
            Courses
        </th>
        <th>
           Assignments
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>
                @student.FirstName
            </td>
            <td>
                @student.LastName
            </td>
            <td>
                @student.DateOfBirth.ToString("yyyy/M/d")
            </td>
            <td>
                @student.TuitionFees
            </td>
            <td>

                <ul class="list-unstyled">

                    @foreach (var course in student.Courses)
                    {
                        <li>
                            @course.Title
                        </li>
                    }
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">

                    @foreach (var assignment in student.Assignments)
                    {

                        <li>
                            @assignment.Title
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = student.StudentId }) |
                @Html.ActionLink("Details", "Details", new { id = student.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = student.StudentId })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount<Model.PageNumber?0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, x => Url.Action("Index", "Student", new { page = x }))


@section scripts
{
    <script>

        $("#resetButtonS").click(function (e) {

            $("#searchStudent").val("");
        }
        );

    </script>
}