@using Antlr.Runtime.Tree
@model IEnumerable<PrivateSchool.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Student</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    @Html.TextBox("searchStudent", null, new { @class = "form-control", placeholder = "Search Firstname", type = "search", autocomplete = "off" })


    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSortOrder" />

    <input id="submitButton" type="submit" value="Search" class="btn btn-info btn-sm" />
    <input id="resetButtonS" type="button" value="Reset" class="btn btn-default btn-sm" />

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Firstname", "Index", "Student", new { sortOrder = ViewBag.NSP, searchTitle = ViewBag.CurrentTitle }, new { @class = "sorting-btn" })
        </th>
        <th>
            @Html.ActionLink("Lastname", "Index", "Student", new { sortOrder = ViewBag.NSP, searchTitle = ViewBag.CurrentTitle }, new { @class = "sorting-btn" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuitionFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignments)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>
                @student.FirstName
            </td>
            <td>
                @student.LastName
            </td>
            <td>
                @student.DateOfBirth.ToString("d")
            </td>
            <td>
                @student.TuitionFees
            </td>
            <td>

                <ul class="list-unstyled">

                    @foreach (var course in student.Courses)
                    {
                        <li>
                            @course.Title
                        </li>
                    }
                </ul>
            </td>
            <td>
                <ul class="list-unstyled">

                    @foreach (var assignment in student.Assignments)
                    {
                        <li>
                            @assignment.Title
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = student.StudentId }) |
                @Html.ActionLink("Details", "Details", new { id = student.StudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = student.StudentId })
            </td>
        </tr>
    }

</table>
@section MYCustomCSS{
    <style>
        body {
            background-color: #c2d8d5;
            color: #4e4848;
        }

        .table {
            margin: 10px;
        }

        #resetButton {
            margin: 10px;
            background-color: #e6dfdf;
        }

        #submitButton {
            margin: 10px 10px 10px 0;
            background-color: #E8A87c;
        }

        .btn-edit-details {
            background-color: #85a1b2;
            color: #f3e7e7;
        }

        .btn-delete {
            background-color: #f55454;
            color: #f3e7e7;
        }

        h2 {
            color: #302e2e;
        }

        .table th {
            background-color: #719e98;
            color: #302e2e;
        }

        tr:hover {
            background-color: #b5d0cc;
        }

        .sorting-btn {
            color: inherit;
        }
    </style>

}
@section scripts
{
    <script>

        $("#resetButtonS").click(function (e) {

            $("#searchTitle").val("");
        }
        );

    </script>
}