@model IEnumerable<PrivateSchool.Models.Trainer>

@{
    ViewBag.Title = "Index";
}

<h2>Trainer</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm("Index", "Trainer", FormMethod.Get))
{
    @Html.TextBox("searchTrainer", null, new { @class = "form-control", placeholder = "Search Firstname", type = "search", autocomplete = "off" })


    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSortOrder" />

    <input id="submitButton" type="submit" value="Search" class="btn btn-info btn-sm" />
    <input id="resetButton" type="button" value="Reset" class="btn btn-default btn-sm" />

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Firstname", "Index", "Trainer", new { sortOrder = ViewBag.NSP, searchTitle = ViewBag.CurrentTitle }, new { @class = "sorting-btn" })
        </th>
        <th>
            @Html.ActionLink("Lastname", "Index", "Trainer", new { sortOrder = ViewBag.NSP, searchTitle = ViewBag.CurrentTitle }, new { @class = "sorting-btn" })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>Courses</th>
        <th>Action</th>
    </tr>

    @foreach (var trainer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => trainer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trainer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trainer.Subject)
            </td>
            <td>
                <ul class="list-unstyled">

                    @foreach (var course in trainer.Courses)
                    {
                        <li>
                            @course.Title
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = trainer.TrainerId }) |
                @Html.ActionLink("Details", "Details", new { id = trainer.TrainerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = trainer.TrainerId })
            </td>
        </tr>
    }

</table>
