@model PagedList.IPagedList <PrivateSchool.Models.Trainer>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2>Trainer</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-create" })
</p>

@using (Html.BeginForm("Index", "Trainer", FormMethod.Get))
{
    @Html.TextBox("searchTrainer", null, new { @class = "form-control", placeholder = "Search Firstname", type = "search", autocomplete = "off" })


    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSortOrder" />

    <input id="submitButton" type="submit" value="Search" class="btn btn-info btn-sm" />
    <input id="resetButtonT" type="button" value="Reset" class="btn btn-default btn-sm" />

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Firstname", "Index", "Trainer", new { sortOrder = ViewBag.FNSP, searchTrainer = ViewBag.CurrentName }, new { @class = "sorting-btn" })
        </th>
        <th>
            @Html.ActionLink("Lastname", "Index", "Trainer", new { sortOrder = ViewBag.lSP, searchTrainer = ViewBag.CurrentName }, new { @class = "sorting-btn" })
        </th>
        <th>
            Subject
        </th>
        <th>Courses</th>
        <th>Action</th>
    </tr>

    @foreach (var trainer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => trainer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trainer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => trainer.Subject)
            </td>
            <td>
                <ul class="list-unstyled">

                    @foreach (var course in trainer.Courses)
                    {
                        <li>
                            @course.Title
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = trainer.TrainerId }) |
                @Html.ActionLink("Details", "Details", new { id = trainer.TrainerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = trainer.TrainerId })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount<Model.PageNumber?0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, x => Url.Action("Index", "Trainer", new { page = x }))


@section scripts
{
    <script>

        $("#resetButtonT").click(function (e) {

            $("#searchTrainer").val("");
        }
        );

    </script>
}