@model IEnumerable<PrivateSchool.Models.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OralMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMark)
        </th>
        <th></th>
    </tr>

@foreach (var assignment in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => assignment.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => assignment.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => assignment.SubDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => assignment.OralMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => assignment.TotalMark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= assignment.AssignmentId }) |
            @Html.ActionLink("Details", "Details", new { id= assignment.AssignmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id= assignment.AssignmentId })
        </td>
    </tr>
}

</table>
