@model PagedList.IPagedList<PrivateSchool.Models.Assignment>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Assignment</h2>

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-create" })
</p>

@using (Html.BeginForm("Index", "Assignment", FormMethod.Get))
{
    @Html.TextBox("searchTitle", null, new { @class = "form-control", placeholder = "Search Title", type = "search", autocomplete = "off" })


    <input type="hidden" name="sortOrder" value="@ViewBag.CurrentSortOrder" />

    <input id="submitButton" type="submit" value="Search" class="btn btn-sm btn-sub" />
    <input id="resetButtonA" type="button" value="Reset" class="btn  btn-sm" />

}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", "Assignment", new { sortOrder = ViewBag.NSP, searchTitle = ViewBag.CurrentTitle }, new { @class = "sorting-btn" })
        </th>
        <th>
            Description
        </th>
        <th>
            Submission Date
        </th>
        <th>
            Oral Mark
        </th>
        <th>
            Total Mark
        </th>
        <th>Courses</th>
        <th>Action</th>
    </tr>

    @foreach (var assignment in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => assignment.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => assignment.Description)
            </td>
            <td>
                @assignment.SubDate.ToString("yyyy/M/d")
            </td>
            <td>
                @Html.DisplayFor(modelItem => assignment.OralMark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => assignment.TotalMark)
            </td>
            <td>
                <ul class="list-unstyled">

                    @foreach (var course in assignment.Courses)
                    {
                        <li>
                            @course.Title
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = assignment.AssignmentId })|
                @Html.ActionLink("Details", "Details", new { id = assignment.AssignmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = assignment.AssignmentId })
            </td>
        </tr>
    }

</table>


Page @(Model.PageCount<Model.PageNumber?0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, x => Url.Action("Index", "Assignment", new { page = x }))


@section scripts
{
    <script>

        $("#resetButtonA").click(function (e) {

            $("#searchTitle").val("");
        }
        );

    </script>
}